* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 2rem;
  scroll-behavior: smooth;
}

.section {
  height: 100vh;
  /* height: 300px; */
  background-color: rgb(16, 104, 187);
  display: flex;
  color: white;
}

/* Left Navigation Section */
.left-nav {
  height: 100%;
  overflow-y: auto;
  flex: 0.33;
  background-color: rgba(17, 117, 248, 0.637);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.left-nav::-webkit-scrollbar {
  width: 0;
}
.left-menu ul li a {
  text-decoration: none;
  color: inherit;
}

.left-logo {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.5rem;
}
.left-logo img {
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  font-weight: 450;
}

.left-logo p {
  font-size: 0.7rem;
  margin-top: 0.3rem;
}

.left-menu {
  margin: 2.4rem;
  width: 100%;
}
.left-menu ul li {
  list-style: none;
  overflow: hidden;
  font-weight: 700;
  height: 3.7rem;
  border-top: 0.7px solid rgba(201, 201, 201, 0.445);
  border-bottom: 0.7px solid rgba(190, 190, 190, 0.404);
  display: flex;
  justify-content: center;
  align-items: center;
  border-collapse: collapse;
  cursor: pointer;
  transition: 0.5s ease;
}
.left-menu ul li:hover {
  background-color: white;
  color: rgba(17, 117, 248, 0.637);
}
.left-menu ul li:active {
  background-color: white;
  color: rgba(17, 117, 248, 0.637);
}

.left-social {
  height: 100%;
  margin: 2rem 0;
}
.left-social a {
  font-size: 0.8rem;
  text-decoration: none;
  background-color: rgba(14, 61, 122, 0.705);
  color: white;
  padding: 0.5rem;
  transition: 0.5s ease;
}
.left-social a:hover {
  background-color: white;
  color: rgba(14, 61, 122, 0.705);
}
.left-bottom {
  margin-top: 2rem;
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  border-top: 0.7px solid rgba(158, 158, 158, 0.226);
}
.left-bottom p {
  font-size: 0.9rem;
  margin: 0.8rem;
}

/* Common Code */
.half-line {
  border-top: 3px solid white;
  width: 500px;
}
.full-line-intro {
  border-top: 2px solid rgba(255, 255, 255, 0.11);
  width: 100%;
}

.full-line {
  border-top: 3px solid rgba(255, 255, 255, 0.39);
  width: 100%;
  margin: 60px 0;
}

.readmore-btn {
  color: rgba(17, 117, 248, 0.637);
  padding: 6px 20px;
  border: none;
  border-radius: 2px;
  font-weight: 700;
  margin-top: 20px;
  transition: 0.7s ease;
  cursor: pointer;
}
.readmore-btn:hover {
  color: white;
  background-color: rgba(17, 117, 248, 0.637);
}

/* Main Content Section*/

.main-content {
  overflow-y: auto;
  flex: 1;
  background-color: rgba(73, 145, 240, 0.911);
}

.container {
  max-width: 800px;
  min-height: 100vh;
  /* background-color: rgb(160, 110, 49); */
  margin: 0 auto;
}

.intro-sec {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.intro-img-container img {
  width: 100%;
}

.introduction-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mountain-img-container {
  margin-top: 2.5rem;
  display: flex;
  gap: 2rem;
}
.montaine-img-intro {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.mountain-img-container img,
.girl-nature-intro-cont img {
  width: 230px;
  border-radius: 8px;
}

.girl-nature-intro-cont {
  display: flex;
  gap: 2rem;
}

.girl-nature-intro {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.intro-img-container3 button {
  margin-left: 16.5rem;
}

/* Feature Section */

.features-sec {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 16px;
}
.feature-list-box {
  width: 49%;
  padding: 60px;
  background-color: rgba(17, 117, 248, 0.377);
  transition: 0.8s ease;
}
.feature-list-box:hover {
  color: black;
  background-color: white;
}
.feature-icon i {
  font-size: 100px;
}

/* Gallery Section */

.gallery-sec {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.gallery-list {
  height: 100vh;
  display: grid;
  gap: 22px 12px;
  grid-template-areas:
    "img1 img2 img3"
    "img1 img4 img3"
    "img5 img4 img6";
}

.gallery-img-con {
  :first-child {
    transform: rotateX(90deg);
  }
  border-radius: 8px;
}
.gallery-img-con:hover {
  :first-child {
    transform: rotateX(0);
  }
}
.img-detail {
  background-color: white;
  height: 80%;
  width: 90%;
  margin: auto;
  margin-top: 10%;
  border-radius: 5px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s ease;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.377);
}

.girl-one {
  background-image: url("./src/girl-nature.jpg");
  grid-area: img1;
}

.lady {
  background-image: url("./src/woman-chair-sunshine.jpg");
  grid-area: img2;
}
.pretty-girl {
  background-image: url("./src/woman-pretty.jpg");
  grid-area: img3;
}

.escalator-up {
  background-image: url("./src/escalator-blue.jpg");
  grid-area: img4;
}
.her-feeling {
  background-image: url("./src/woman-feeling.jpg");
  grid-area: img5;
}

.bikini-girl {
  background-image: url("./src/woman-bikini.jpg");
  grid-area: img6;
}

.contact-sec {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 100px;
}

form {
  display: grid;
  grid-template-areas:
    "detail detail2"
    "subject subject"
    "message message";
  gap: 25px;
}

input,
textarea {
  border: 1px solid white;
  color: white;
  padding: 9px 12px;
  background-color: rgba(207, 145, 109, 0.185);
}
input:focus,
textarea:focus {
  outline: none;
}
input::placeholder,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.678);
}

.det1 {
  grid-area: detail;
}
.det12 {
  grid-area: detail2;
}
.sub {
  grid-area: subject;
}
.msg {
  grid-area: message;
}

.form-btn button {
  color: rgba(17, 117, 248, 0.637);
  padding: 6px 20px;
  position: relative;
  left: 90%;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.7s ease;
  margin-top: 20px;
}
.form-btn button:hover {
  background-color: rgba(17, 117, 248, 0.637);
  color: white;
}

/* Menu */
.menu-btns .fa {
  background-color: white;
  color: rgb(16, 104, 187);
  font-size: 20px;
  padding: 20px;
  display: none;
}
.menu-btns .show-menu {
  position: fixed;
  top: 10px;
  left: 10px;
}
.menu-btns .close-menu {
  width: 300px;
  text-align: center;
  z-index: 10;
  position: fixed;
  left: 0px;
}

.show-nav {
  width: 300px;
  left: 0px !important;
}

.hide-nav {
  display: none;
  width: 300px;
  left: 0px !important;
}

.hide {
  display: none !important;
}
.show {
  display: initial !important;
}

@media screen and (width < 845px) and (width > 770px) {
  .container {
    width: 100%;
    padding: 25px 50px;
  }
  .left-nav {
    background-color: #007bff;
    padding-top: 50px;
    position: fixed;
    left: -200px;
  }
  .menu-btns .show-menu {
    display: initial;
  }

  .feature-list-box {
    width: 48%;
    padding: 60px;
    background-color: rgba(17, 117, 248, 0.445);
  }

  .gallery-list {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .img-detail {
    height: 500px;
  }
  .gallery-img-con {
    background-size: cover;
  }
  .half-line {
    width: 100%;
  }
}

@media screen and (width <= 770px) and (width > 400px) {
  .container {
    width: 100%;
    padding: 25px 70px;
  }
  .left-nav {
    background-color: #007bff;
    padding-top: 50px;
    position: fixed;
    left: -200px;
  }
  .menu-btns .show-menu {
    display: initial;
  }

  .mountain-img-container,
  .girl-nature-intro-cont {
    flex-direction: column;
  }
  .mountain-img-container img,
  .girl-nature-intro-cont img {
    width: 100%;
  }
  .intro-img-container3 button {
    margin-left: 0;
  }

  .feature-list-box {
    width: 100%;
    padding: 60px;
    background-color: rgba(17, 117, 248, 0.445);
  }

  .gallery-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .img-detail {
    height: 500px;
  }
  .gallery-img-con {
    background-size: cover;
  }
  .half-line {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 100%;
    padding: 10px 20px;
  }
  .left-nav {
    width: 70%;
    background-color: #007bff;
    padding-top: 50px;
    position: fixed;
    left: -500px;
  }
  .menu-btns .close-menu {
    width: 70%;
  }

  .menu-btns .show-menu {
    display: initial;
  }

  .mountain-img-container,
  .girl-nature-intro-cont {
    flex-direction: column;
  }
  .mountain-img-container img,
  .girl-nature-intro-cont img {
    width: 100%;
  }
  .intro-img-container3 button {
    margin-left: 0;
  }

  .feature-list-box {
    width: 100%;
    padding: 60px;
    background-color: rgba(17, 117, 248, 0.445);
  }

  .gallery-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .img-detail {
    height: 500px;
  }
  .gallery-img-con {
    background-size: cover;
  }

  .contact-sec {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 100px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .form-btn button {
    color: rgba(17, 117, 248, 0.637);
    padding: 4px 15px;
    position: relative;
    left: 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.7s ease;
    margin-top: 20px;
    font-size: 12px;
  }

  .half-line {
    width: 100%;
  }

  .left-social a {
    font-size: 1rem;
  }
}
